################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MCATestApi/.vs
/MCATestApi/bin/Debug/net8.0
/MCATestApi/obj
